pkgbase = mate-power-manager
	pkgdesc = Power management tool for the MATE desktop
	pkgver = 1.28.1
	pkgrel = 2
	url = https://mate-desktop.org
	arch = x86_64
	groups = mate-extra
	license = GPL-2.0-or-later
	makedepends = autoconf-archive
	makedepends = glib2-devel
	makedepends = itstool
	makedepends = mate-common
	makedepends = mate-panel
	makedepends = python
	makedepends = yelp-tools
	depends = dbus-glib
	depends = gettext
	depends = libcanberra
	depends = libnotify
	depends = upower
	depends = polkit
	depends = libsecret
	optdepends = mate-panel: Set brightness and inhibit power management from the panel
	source = mate-power-manager-1.28.1.tar.gz::https://github.com/mate-desktop/mate-power-manager/archive/refs/tags/v1.28.1.tar.gz
	sha256sums = fa64a9590fc83f29ec2c7eb37783ce2125c20f01413246eb7519c1bcc95c98c3

pkgname = mate-power-manager
