pkgbase = mate-control-center
	pkgdesc = The Control Center for MATE
	pkgver = 1.28.1
	pkgrel = 2
	url = https://mate-desktop.org
	arch = x86_64
	groups = mate
	license = GPL-2.0-or-later
	makedepends = autoconf-archive
	makedepends = glib2-devel
	makedepends = mate-common
	makedepends = itstool
	makedepends = yelp-tools
	depends = mate-menus
	depends = mate-settings-daemon
	depends = marco
	depends = libxss
	depends = mate-desktop
	depends = gettext
	depends = accountsservice
	depends = mate-panel
	depends = libcanberra
	depends = udisks2
	depends = libayatana-appindicator
	conflicts = mate-control-center-gtk3
	replaces = mate-control-center-gtk3
	source = mate-control-center-1.28.1.tar.gz::https://github.com/mate-desktop/mate-control-center/archive/refs/tags/v1.28.1.tar.gz
	sha256sums = 0890c1bafc10a77ae7aea4edc37951fa69cbce2552ce199a7e49cb55de8af71b

pkgname = mate-control-center
