pkgbase = engrampa
	pkgdesc = A file archiver for MATE
	pkgver = 1.28.2
	pkgrel = 2
	url = https://mate-desktop.org
	arch = x86_64
	groups = mate-extra
	license = GPL-2.0-or-later
	makedepends = autoconf-archive
	makedepends = caja
	makedepends = git
	makedepends = glib2-devel
	makedepends = itstool
	makedepends = mate-common
	makedepends = python
	makedepends = yelp-tools
	depends = gtk3
	depends = gzip
	depends = gettext
	depends = libarchive
	depends = tar
	depends = unzip
	depends = zip
	optdepends = caja: Caja support
	optdepends = p7zip: 7Z and ARJ archive support
	optdepends = unace: ACE archive support
	optdepends = unrar: RAR archive support
	optdepends = brotli: Brotli compression support
	optdepends = rpm-tools: RPM support
	optdepends = cpio: RPM support
	conflicts = engrampa-gtk3
	replaces = engrampa-gtk3
	source = git+https://github.com/mate-desktop/engrampa.git#tag=v1.28.2
	source = git+https://github.com/mate-desktop/mate-submodules.git
	sha256sums = 0b17b1bd00b1df0c3b60ded7570ea809aa7fb68934c8d9b823e161a90a752299
	sha256sums = SKIP

pkgname = engrampa
