pkgbase = mate-applets
	pkgdesc = Applets for MATE panel
	pkgver = 1.28.1
	pkgrel = 2
	url = https://mate-desktop.org
	arch = x86_64
	groups = mate-extra
	license = GPL-2.0-or-later AND LGPL-2.0-or-later
	makedepends = autoconf-archive
	makedepends = intltool
	makedepends = itstool
	makedepends = mate-common
	makedepends = glib2-devel
	makedepends = gucharmap
	makedepends = yelp-tools
	depends = cpupower
	depends = gtksourceview4
	depends = libgtop
	depends = libnotify
	depends = mate-panel
	depends = polkit
	depends = upower
	depends = wireless_tools
	depends = libnl
	optdepends = fortune-mod: for displaying fortune cookies in the Wanda the Fish applet
	optdepends = gucharmap: character picker applet
	conflicts = mate-applets-gtk3
	conflicts = mate-netspeed
	conflicts = mate-netspeed-gtk3
	replaces = mate-applets-gtk3
	replaces = mate-netspeed
	replaces = mate-netspeed-gtk3
	source = mate-applets-1.28.1.tar.gz::https://github.com/mate-desktop/mate-applets/archive/refs/tags/v1.28.1.tar.gz
	sha256sums = 2d3f9b87e4d290052ff17f4b6f1aef8f07b0d594515a289fab32f22bf02e7ac7

pkgname = mate-applets
