pkgbase = mate-desktop
	pkgdesc = Library with common API for various MATE modules
	pkgver = 1.28.2
	pkgrel = 2
	url = http://mate-desktop.org
	arch = x86_64
	groups = mate
	license = GPL-2.0-or-later AND LGPL-2.0-or-later
	makedepends = autoconf-archive
	makedepends = gobject-introspection
	makedepends = mate-common
	makedepends = intltool
	depends = gtk3
	depends = startup-notification
	depends = iso-codes
	conflicts = mate-desktop-gtk3
	conflicts = mate-desktop-schemas
	replaces = mate-desktop-gtk3
	replaces = mate-desktop-schemas
	source = mate-desktop-1.28.2.tar.gz::https://github.com/mate-desktop/mate-desktop/archive/refs/tags/v1.28.2.tar.gz
	sha256sums = 5c235208ab391a74003a38584a2001c722e4b603a7d0d0b0f45da48972e2e6e4

pkgname = mate-desktop
