pkgbase = libmateweather
	pkgdesc = Provides access to weather information from the Internet.
	pkgver = 1.28.0
	pkgrel = 2
	url = https://mate-desktop.org
	arch = x86_64
	license = LGPL
	depends = gtk3
	depends = libsoup
	depends = gettext
	conflicts = libmateweather-gtk3
	replaces = libmateweather-gtk3
	source = https://pub.mate-desktop.org/releases/1.28/libmateweather-1.28.0.tar.xz
	sha256sums = 554373deb5b393b9d84b275dd2ca66c9a4a2d0e6ec92044fab8aa53e3032d2b5

pkgname = libmateweather
