pkgbase = puzzles
	pkgdesc = Simon Tatham's Portable Puzzle Collection
	pkgver = 20260523.7ad37c6
	pkgrel = 1
	url = https://www.chiark.greenend.org.uk/~sgtatham/puzzles/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = halibut
	makedepends = imagemagick
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = pango
	source = git+https://git.tartarus.org/simon/puzzles.git#commit=7ad37c6
	sha256sums = a0edb0ae35ac29da224f82ce1fde489f97ab9b6e4473398341b1d7b94c966451

pkgname = puzzles
