pkgbase = hwinfo
	pkgdesc = Hardware detection tool from openSUSE
	pkgver = 25.2
	pkgrel = 1
	url = https://github.com/openSUSE/hwinfo
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = flex
	makedepends = git
	makedepends = sysfsutils
	depends = libx86emu
	depends = perl-xml-parser
	depends = perl-xml-writer
	depends = util-linux-libs
	options = !emptydirs
	source = git+https://github.com/openSUSE/hwinfo#tag=25.2
	source = custom_ioctl.patch
	b2sums = 4613436f1fadd7e22681c88c6078cbc91624dc61048904153da8dd03918940743dc2c1519b5049805c4e25729ac545f022805eeb827cc425832ceab1f1bc3f1c
	b2sums = 2b1bd3b53bbfc1e545e1a70ffd6cca08f704639a104928b2c02ccca3e82000f07a470fbdf129566ece6dfb2b98fdad0e82f18cc5c2016ebfeed043b4edb295b4

pkgname = hwinfo
