[Desktop Entry]
Name=SheepShaver
Comment=A PowerPC Apple Macintosh emulator
Exec=SheepShaver
Icon=sheepshaver
Terminal=false
Type=Application
Categories=System;Emulator;
