pkgbase = perl-test-differences
	pkgdesc = Perl/CPAN Module Test::Differences
	pkgver = 0.72
	pkgrel = 3
	url = https://search.cpan.org/dist/Test-Differences
	arch = any
	license = GPL
	license = PerlArtistic
	depends = perl-text-diff
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/D/DC/DCANTRELL/Test-Differences-0.72.tar.gz
	sha256sums = 648844b9dcb7dae6f9b5a15c9359d0f09de247a624b65c4620ebff249558f913

pkgname = perl-test-differences
