pkgbase = pluma
	pkgdesc = A powerful text editor for MATE
	pkgver = 1.28.0
	pkgrel = 6
	url = https://mate-desktop.org
	arch = x86_64
	groups = mate-extra
	license = GPL-2.0-or-later
	makedepends = itstool
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = python
	makedepends = mate-common
	makedepends = yelp-tools
	makedepends = autoconf-archive
	depends = iso-codes
	depends = mate-desktop
	depends = zenity
	depends = gtksourceview4
	depends = libpeas
	depends = python
	depends = gettext
	depends = enchant
	depends = libsm
	optdepends = python-gobject: to use the python plugins
	conflicts = pluma-gtk3
	replaces = pluma-gtk3
	source = git+https://github.com/mate-desktop/pluma.git#tag=v1.28.0
	source = git+https://github.com/mate-desktop/mate-submodules.git
	sha512sums = df72dcd262802d2dbeaf925466fb5aa6d45f04d6db771154804da52351712b8f3f120ed0438a64c1025c3ede69e4fd2228ea55b93402c1b41aa9890f1bf6618a
	sha512sums = SKIP

pkgname = pluma
