pkgbase = archlinux-xdg-menu
	pkgdesc = automatic generate WM menu from xdg files
	pkgver = 0.7.6.6
	pkgrel = 2
	url = https://wiki.archlinux.org/index.php/XdgMenu
	arch = any
	license = GPL
	depends = perl
	depends = perl-xml-parser
	backup = etc/update-menus.conf
	backup = etc/xdg/menus/arch-applications.menu
	source = https://arch.p5n.pp.ru/~sergej/dl/2023/arch-xdg-menu-0.7.6.6.tar.gz
	sha256sums = 01cbd3749939c180fed33783f0f7c4f47ac9563af2d1c4b39e23cb6cba792b40

pkgname = archlinux-xdg-menu
