pkgbase = focuswriter
	pkgdesc = Simple, distraction-free word processor
	pkgver = 1.8.13
	pkgrel = 1
	url = https://gottcode.org/focuswriter/
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = qt6-tools
	depends = hicolor-icon-theme
	depends = hunspell
	depends = qt6-multimedia
	source = https://gottcode.org/focuswriter/focuswriter-1.8.13.tar.bz2
	source = https://gottcode.org/focuswriter/focuswriter-1.8.13.tar.bz2.asc
	validpgpkeys = 57E4D43C10CD7EDB8360C84774FFC7F02C4F6B37
	sha256sums = 736662c0ec6ca9d6ae93b18f637963e9f5a914b25027d07b34723ca91b4aa98b
	sha256sums = SKIP

pkgname = focuswriter
