pkgbase = mate-user-guide
	pkgdesc = MATE User Guide
	pkgver = 1.28.0
	pkgrel = 2
	url = https://mate-desktop.org
	arch = any
	groups = mate
	license = GFDL-1.1-or-later
	makedepends = autoconf-archive
	makedepends = itstool
	makedepends = mate-common
	makedepends = yelp-tools
	depends = yelp
	source = mate-user-guide-1.28.0.tar.gz::https://github.com/mate-desktop/mate-user-guide/archive/refs/tags/v1.28.0.tar.gz
	sha256sums = bedce24a8f11eaeb929fa5ccf5d682160c28d6436097c710341eb4152b11b784

pkgname = mate-user-guide
