pkgbase = bamf
	pkgdesc = Application matching framework
	pkgver = 0.5.6
	pkgrel = 2
	url = https://launchpad.net/bamf
	arch = x86_64
	license = GPL-3.0-only
	license = LGPL-2.1-only
	license = LGPL-3.0-only
	makedepends = git
	makedepends = glib2-devel
	makedepends = gnome-common
	makedepends = gobject-introspection
	makedepends = vala
	depends = bash
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libgtop
	depends = libwnck3
	depends = libx11
	depends = startup-notification
	source = git+https://git.launchpad.net/bamf?signed#tag=17aef81f0500cbc4333f1f327126adf653826466
	validpgpkeys = D4C501DA48EB797A081750939449C2F50996635F
	b2sums = SKIP

pkgname = bamf
