pkgbase = kakoune
	pkgdesc = Multiple-selection, UNIX-flavored modal editor
	pkgver = 2025.06.03
	pkgrel = 3
	url = https://kakoune.org/
	arch = x86_64
	license = custom:unlicense
	makedepends = git
	depends = gcc-libs
	optdepends = aspell: spell check, correct text
	optdepends = clang: error reporting and diagnostics, completion
	optdepends = editorconfig-core-c: set formatting options project-wide
	optdepends = git: display and cycle through hunks, blame lines, handle file status
	optdepends = kakoune-lsp: Language Server Protocol (LSP) client
	optdepends = tmux: split windows, spawn tabs
	optdepends = xdotool: X11 window management
	optdepends = xorg-xmessage: print detailed crash information in a separate window
	source = https://github.com/mawww/kakoune/releases/download/v2025.06.03/kakoune-2025.06.03.tar.bz2
	source = custom-libexecdir.patch
	b2sums = de2d985e423660ed4e78be6b7dc93b15ff1fdb2b13133faa6145af0656f8ea425f7bbe82f0047ad8f1e1c9a8caf50a5e430cee717c9d10c13d5f3213419d18c3
	b2sums = 2c97785427851a01503bb99e2d0b725e4c11a42411669454f8bdfece00196d63c8dcd84e978840a2a83deed594b0c198e76d964fe8adcf21b6fe4eedb9c987e2

pkgname = kakoune
