pkgbase = marco
	pkgdesc = MATE default window manager
	pkgver = 1.29.0
	pkgrel = 1
	url = https://mate-desktop.org
	arch = x86_64
	groups = mate
	license = GPL-2.0-or-later
	makedepends = autoconf-archive
	makedepends = mate-common
	makedepends = itstool
	makedepends = yelp-tools
	depends = libcanberra
	depends = libgtop
	depends = mate-desktop
	depends = zenity
	depends = libxpresent
	depends = gettext
	depends = libxres
	depends = libsm
	conflicts = marco-gtk3
	replaces = marco-gtk3
	source = marco-1.29.0.tar.gz::https://github.com/mate-desktop/marco/archive/refs/tags/v1.29.0.tar.gz
	sha256sums = fe2c317ceaf2b17f2cf5785cadb6b6534cf3330aad9be5e5449b3fdb4d3160be

pkgname = marco
