pkgbase = mate-panel
	pkgdesc = The MATE Panel
	pkgver = 1.28.6
	pkgrel = 1
	url = https://mate-desktop.org
	arch = x86_64
	groups = mate
	license = GPL-2.0-or-later AND LGPL-2.0-or-later
	makedepends = itstool
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = mate-common
	makedepends = yelp-tools
	makedepends = autoconf-archive
	depends = dbus-glib
	depends = libwnck3
	depends = libcanberra
	depends = libmateweather
	depends = libsm
	depends = mate-menus
	depends = mate-desktop
	depends = gettext
	depends = gtk-layer-shell
	depends = dconf-editor
	conflicts = mate-panel-gtk3
	replaces = mate-panel-gtk3
	source = git+https://github.com/mate-desktop/mate-panel.git#tag=v1.28.6
	source = git+https://github.com/mate-desktop/mate-submodules.git
	sha256sums = d93ee9265547a624b35784d0c15bdf35ecaef2c5f14904a624c612efc0b9cece
	sha256sums = SKIP

pkgname = mate-panel
