pkgbase = kakoune-lsp
	pkgdesc = Kakoune Language Server Protocol Client
	pkgver = 18.1.3
	pkgrel = 1
	url = https://github.com/kakoune-lsp/kakoune-lsp
	arch = x86_64
	license = custom:unlicense
	makedepends = rust
	depends = kakoune
	optdepends = bash-language-server: language server for Bash
	optdepends = gopls: language server for Go
	optdepends = haskell-language-server: language server for Haskell
	optdepends = lua-language-server: language server for Lua
	optdepends = python-lsp-server: language server for Python
	optdepends = rust-analyzer: language server for Rust
	provides = kak-lsp
	conflicts = kak-lsp
	replaces = kak-lsp
	source = kakoune-lsp-18.1.3.tar.gz::https://github.com/kakoune-lsp/kakoune-lsp/archive/v18.1.3.tar.gz
	b2sums = 314d12a605b294e7fe04a892d62a966e1ff1d2a6c59332c56a8e75c385eeaafb4f35a23e45b109fa4d62495de6479c48f035dd27f31ce41b0c0411bc04b16fd4

pkgname = kakoune-lsp
