pkgbase = perl-ipc-system-simple
	pkgdesc = Run commands simply, with detailed diagnostics
	pkgver = 1.30
	pkgrel = 9
	url = https://search.cpan.org/dist/IPC-System-Simple
	arch = any
	license = PerlArtistic
	license = GPL
	depends = perl
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/J/JK/JKEENAN/IPC-System-Simple-1.30.tar.gz
	sha512sums = 82937df80ae38a9c21e43e256a21cdac1482d4a069eae282043d676ece06251a7139b752cd2b379a0f69ea9209ddd075607da86c6cb9b25f19cf90d91c28d72f

pkgname = perl-ipc-system-simple
