pkgbase = perl-compress-bzip2
	pkgdesc = Interface to Bzip2 compression library
	pkgver = 2.28
	pkgrel = 8
	url = https://metacpan.org/dist/Compress-Bzip2
	arch = x86_64
	license = Artistic-1.0-Perl OR GPL-1.0-or-later
	depends = bzip2
	depends = glibc
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/R/RU/RURBAN/Compress-Bzip2-2.28.tar.gz
	b2sums = 06fdbf3460fbd1b7f2f915095d9100ee69e3012d0cb0eecd63c7eeef67dcf1cf9f043e7c448688c9d5394efb195218d26efede48a15735000e1c44ee226eb47c

pkgname = perl-compress-bzip2
