pkgbase = perl-tie-simple
	pkgdesc = Variable ties made easier
	pkgver = 1.04
	pkgrel = 16
	url = https://metacpan.org/dist/Tie-Simple
	arch = any
	license = Artistic-1.0-Perl OR GPL-1.0-or-later
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/H/HA/HANENKAMP/Tie-Simple-1.04.tar.gz
	b2sums = 66a1090e76c6302f1ea2ab24ff349807db588a2f5f8837fb892cadd82ecf9c32d82f96d8caab0c95054d8763dc25d92db17e160e0f4ad93aa8b906fa29f48293

pkgname = perl-tie-simple
