pkgbase = perl-text-patch
	pkgdesc = Patches text with given patch
	pkgver = 1.8
	pkgrel = 16
	url = https://search.cpan.org/dist/Text-Patch
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-text-diff
	depends = perl
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/C/CA/CADE/Text-Patch-1.8.tar.gz
	sha256sums = eaf18e61ba6a3e143846a7cc66f08ce58a0c4fbda92acb31aede25cb3b5c3dcc

pkgname = perl-text-patch
