pkgbase = mate-applet-dock
	pkgdesc = Application dock for the MATE panel
	pkgver = 21.10.0
	pkgrel = 5
	url = https://github.com/robint99/dock-applet
	arch = any
	license = GPL3
	depends = bamf
	depends = libnotify
	depends = mate-panel
	depends = python-cairo
	depends = python-dbus
	depends = python-gobject
	depends = python-pillow
	depends = python-xdg
	depends = python-xlib
	source = mate-applet-dock-21.10.0.tar.gz::https://github.com/robint99/mate-dock-applet/archive/21.10.0.tar.gz
	sha256sums = 42f06dcac13aae19a9bbd16272854c896044aa0301a69319cab86ef4ffd8b09c

pkgname = mate-applet-dock
